<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagentoCoders_CustomCatalog::customcatalog" title="Custom Catalog" translate="title" module="MagentoCoders_CustomCatalog" sortOrder="100" action="customcatalog/product/index" parent="Magento_Catalog::catalog" resource="MagentoCoders_CustomCatalog::customcatalog"/>
    </menu>
</config>
